<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>543052538748-vo9nle9lotmrfhd2dn8tonmpuagv43ta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.543052538748-vo9nle9lotmrfhd2dn8tonmpuagv43ta</string>
	<key>API_KEY</key>
	<string>AIzaSyAcZ8zs8BNcCoNRAn0X7W2IsY9lCza90wU</string>
	<key>GCM_SENDER_ID</key>
	<string>543052538748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zlataguseva.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-85d1b</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-85d1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543052538748:ios:7327fbaa8fd15df198faf9</string>
</dict>
</plist>